
<h1 class="page-header">LANTIME - Main Menu</h1>

<h3 class="sub-header">General Information</h3>
<div class="table-responsive">
  <table class="table table-striped">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><strong><span class="text-primary">LANTIME</span></strong></td>
            <td>M600/GPS/GPS (ELX GLX) 6.17 [MRS+GPS]</td>
        </tr>
        <tr>
            <td><strong><span class="text-primary">Contact</span></strong></td>
            <td>Meinberg Radio Clocks</td>
        </tr>
        <tr>
            <td><strong><span class="text-primary">Uptime</span></strong></td>
            <td>728 days, 23 hours</td>
        </tr>
      </tbody>
  </table>
</div>

<h3 class="sub-header">Network Information</h3>
<div class="table-responsive">
  <table class="table table-striped">
        <tbody>
        <tr>
            <th>Hostname</th>
            <th></th>
        </tr>
        <tr>
            <td><strong><span class="text-primary">LAN IPv4 (VIF 1 - bond0:0 )</span></strong></td>
            <td>172.16.100.100/0</td>
        </tr>
        <tr>
            <td><strong><span class="text-primary">172.16.100.100/0 </span></strong></td>
            <td>Not assigned</td>
        </tr>
        <tr>
            <td><strong><span class="text-primary">LAN IPv4 (VIF 3 - bond0:0 )</span></strong></td>
            <td>Not assigned</td>
        </tr>
      </tbody>
  </table>
</div>

<h3 class="sub-header">NTP Information</h3>
<div class="table-responsive">
  <table class="table table-striped">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><strong><span class="text-primary">NTP Status</span></strong></td>
            <td>Offset PPS: 1µs</td>
        </tr>
      </tbody>
  </table>
</div>

<h2 class="sub-header">Other Information</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>Integer</td>
        <td>nec</td>
        <td>odio</td>
        <td>Praesent</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>libero</td>
        <td>Sed</td>
        <td>cursus</td>
        <td>ante</td>
      </tr>
      <tr>
        <td>1,004</td>
        <td>dapibus</td>
        <td>diam</td>
        <td>Sed</td>
        <td>nisi</td>
      </tr>
      <tr>
        <td>1,005</td>
        <td>Nulla</td>
        <td>quis</td>
        <td>sem</td>
        <td>at</td>
      </tr>
      <tr>
        <td>1,006</td>
        <td>nibh</td>
        <td>elementum</td>
        <td>imperdiet</td>
        <td>Duis</td>
      </tr>
      <tr>
        <td>1,007</td>
        <td>sagittis</td>
        <td>ipsum</td>
        <td>Praesent</td>
        <td>mauris</td>
      </tr>
      <tr>
        <td>1,008</td>
        <td>Fusce</td>
        <td>nec</td>
        <td>tellus</td>
        <td>sed</td>
      </tr>
      <tr>
        <td>1,009</td>
        <td>augue</td>
        <td>semper</td>
        <td>porta</td>
        <td>Mauris</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="bs-example" data-example-id="textarea-form-control">
    <form>
        <textarea class="form-control" rows="10" placeholder="Textarea">
20.08.07  06:58:09 UTC: lantime -> NTP sync to PPS
20.08.07  06:58:09 UTC: lantime -> NTP sync to GPS
20.08.07  06:55:00 UTC: lantime -> NTP not synchronized
20.08.07  06:54:47 UTC: lantime -> lantime internal parameter changed by user
19.08.07  11:06:52 UTC: lantime -> NTP sync to PPS
19.08.07  11:02:33 UTC: lantime -> NTP sync to GPS
19.08.07  10:59:14 UTC: lantime -> lantime rebooted
        </textarea> 
    </form> 
</div>